<div id="<%= dom_id task_template %>">
  <p>
    <strong>Name:</strong>
    <%= task_template.name %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= task_template.frequency %>
  </p>

  <p>
    <strong>Task type:</strong>
    <%= task_template.task_type_id %>
  </p>

  <p>
    <strong>Singlable:</strong>
    <%= task_template.singlable %>
  </p>

</div>
