<!DOCTYPE html>
<html>
  <head>
    <title>Portals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <h1><%=
      link_to 'Portals', root_path
    %></h1>
    <%= current_user_display %>
    <%= user_register_link %>
    <%= user_session_link %>
    <%= link_to 'New Portal', new_rotation_path %>
    <%= link_to 'New Task', new_task_path %>
    <% if current_user.present? %>
      <%= link_to 'My Portals', rotations_path %>
      <%= link_to 'My Account', edit_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice&.html_safe %></p>
    <p class="alert"><%= alert&.html_safe %></p>

    <%= yield %>
  </body>
</html>

